---
title: Gabriel Lacroix
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="author" content="Gabriel Lacroix">
    <meta name="description" content="Gabriel's personal website">
</head>
<body>
    {{ content | safe }}
</body>
</html>