<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?{{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.ga_analytics }}');
  </script>
  {% endif %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <!-- Begin Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="Gabriel's Website">
  <meta name="application-name" content="Gabriel's Website">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">  
  <!-- End Icons -->

  <!-- Begin MathJax -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript" defer>
  </script>
  <!-- End MathJax -->

  {% feed_meta %}
  {% seo %}
</head>