<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?{{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.ga_analytics }}');
  </script>
  {% endif %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">

  <!-- Begin Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/safari-pinned-tab.svg' | relative_url }}" color="#5599ff">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="{{ '/assets/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">  
  <!-- End Icons -->

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}"
    href="{{ 'atom.xml' | relative_url }}">

  {% seo title=false %}
</head>