// Variables

:root {
  --body-color: black;
  --link-color: #2351fc;
  --body-bg: white;
  --code-bg: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: white;
    --link-color: white;
    --body-bg: black;
    --code-bg: #212529;
  }

  main a:before { content:"{" }
  main a:after { content:"}" }
  main a[target="_blank"]:before { content:"[" }
  main a[target="_blank"]:after { content:"]" }
}

// Body resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alte Haas Grotesk", sans-serif;
  // apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.6;
  color: var(--body-color);
  background-color: var(--body-bg);
  text-rendering: optimizeLegibility;
}

// Links - Common

a {
  color: inherit;
}

a:hover, a:focus, ::selection {
  background-color: var(--body-color);
  color: var(--body-bg);
  text-decoration: none;
} 

// Links - Main

main a {
  color: var(--link-color);
}

main a:hover, main a:focus {
  background-color: var(--link-color);
}

// Image Links

.img-link:hover, .img-link:focus {
  background-color: inherit;
  color: inherit;
}

// Tags and elements

mark {
  background-color: #feff6e;
  // background-color: #fdd0e1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main ul, main ol {
  margin: 15px 30px 0;
}

main li {
  margin-top: 0.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  vertical-align: top;
  text-align: left;
  padding: 2.5px 5px;
  border: 1px solid var(--body-color);
}

// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  margin-left: .1rem;
}

// List of footnotes
.footnotes {
  margin-top: 30px;
  font-size: 85%;
}