// Variables

:root {
  --body-color: black;
  --link-color: #2351fc;
  --body-bg: white;
  --code-bg: #f8f9fa;
}

// Dark Mode

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: white;
    --link-color: white;
    --body-bg: black;
    --code-bg: #212529;
  }

  main a:before { content:"{" }
  main a:after { content:"}" }
  main a[target="_blank"]:before { content:"[" }
  main a[target="_blank"]:after { content:"]" }
}

// Body resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alte Haas Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--body-color);
  background-color: var(--body-bg);
  text-rendering: optimizeLegibility;
}

// Links - Common

a {
  color: inherit;
}

a:hover, a:focus, ::selection {
  background-color: var(--body-color);
  color: var(--body-bg);
  text-decoration: none;
} 

// Links - Main

main a {
  color: var(--link-color);
}

main a:hover, main a:focus {
  background-color: var(--link-color);
}

// Image Links

.img-link:hover, .img-link:focus {
  background-color: inherit;
  color: inherit;
}

// Header

header p {
  line-height: 20px;
}

// Nav

nav ol li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}

nav ol li::marker {
  color: #777;
}

// Tags and elements

mark {
  background-color: #feff6e;
  // background-color: #fdd0e1;
}