// Layout
//
// Styles for managing the structural hierarchy of the site.

body {
  max-width: 800px;
  padding: 0 30px;
  margin: 30px auto;
}

header {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

header > * {
  margin-right: 30px;
  margin-bottom: 15px;
}

header .img-link,
header nav  {
  flex: none;
}

header div {
  flex: auto;
}

@media (max-width: 500px) {
  header div {
    display: none;
  }
}

main > * {
  margin-top: 1em;
}

main :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5em;
}

main > :last-child {
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main ul, main ol {
  margin: 15px 30px 0;
}

main > table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 2px 5px;
  vertical-align: top;
  text-align: left;
  border: 1px solid var(--body-color);
}

// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  margin-left: .1rem;
}

// List of footnotes
.footnotes {
  margin-top: 30px;
  font-size: 85%;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}
