// Layout
//
// Styles for managing the structural hierarchy of the site.

body {
  max-width: 800px;
  padding: 0 30px;
  margin: 30px auto;
}

header {
  margin-bottom: 30px;
}

main > * {
  margin-top: 1em;
}

main :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5em;
}

main > :last-child {
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}
